version: '3.5'
services:
  spark-master:
    image: bde2020/spark-master:3.0.1-hadoop3.2
    container_name: spark-master
    ports:
      - "8080:8080"
      - "7077:7077"
    environment:
      - INIT_DAEMON_STEP=setup_spark
    networks: 
      - spark-cluster
  spark-worker-1:
    image: bde2020/spark-worker:3.0.1-hadoop3.2
    container_name: spark-worker-1
    depends_on:
      - spark-master
    ports:
      - "8081:8081"
    environment:
      - "SPARK_MASTER=spark://spark-master:7077"
    networks:
      - spark-cluster
  spark-worker-2:
    image: bde2020/spark-worker:3.0.1-hadoop3.2
    container_name: spark-worker-2
    depends_on:
      - spark-master
    ports:
      - "8082:8081"
    environment:
      - "SPARK_MASTER=spark://spark-master:7077"
    networks:
      - spark-cluster
  tweet-streamer:
    build: 
      context: python-tweet-stream
      dockerfile: Dockerfile
    image: tweet-streamer
    container_name: tweet-streamer
    environment: 
      - "PYTHONUNBUFFERED:1"
    env_file: 
      - .env
    networks:
      - spark-cluster
  # flask-dashboard:
  #   build: 
  #     context: flask-dashboard
  #     dockerfile: Dockerfile
  #   image: flask-dashboard
  #   container_name: flask-dashboard
  #   ports:
  #     - "5000:5000"
networks:
  spark-cluster:
    name: spark-cluster
    driver: bridge